.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* developer logo on left side start here START HERE */


.developer-left-logo {
    background-image: url('/images/developer.png'), url('/images/header_bg.png');
    background-repeat: no-repeat, no-repeat;


    background-position: 0px top, right 200px;
    background-size: 62px, 600px;
    background-color: #FFF8F3;






    /* NAV BAR START HERE */

    .text-primary {
        color: #FD6E0A;
    }



    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 70px;
    }

    .nav-title {
        font-weight: 800;
        font-size: 45px;
        margin-left: 30px;
    }

    nav>ul>li {
        list-style: none;
        margin-right: 40px;


    }

    nav>ul>li>a {
        text-decoration: none;
        font-size: 20px;

    }

    .dark-2 {
        color: #474747;
    }

    nav>ul {
        display: flex;
        align-items: center;

    }

    .btn-primary {
        background-color: #FD6E0A;
        font-weight: 700;
        color: white;
        padding: 10px 36px;
        border-radius: 5px;
        font-size: 15px;
        border: none;
        margin: 10px 70px;

    }


    /* HERO SECTION START HERE */

    .first-line {
        font-size: 30px;
        font-weight: 600;
        margin: 10px 70px;
    }

    .second-line {
        font-weight: bold;
        font-size: 40px;
        margin: 10px 70px;
    }

    .paragraph-line {
        color: #474747;
        margin-top: 9px;
        margin: 10px 70px;
    }


    .abba-banner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 100px;



    }

    .baby-banner-contant {
        max-width: 600px;
        margin-left: 30px;
    }

    .about-me {

        padding-left: 650px;
        margin-top: 100px;

    }

    .about-me-paragraph {

        padding: 0 250px 0 250px;


    }

    .my-photo {
        width: 350px;
        height: 400px;

        margin-right: 80px;
        margin-bottom: 2px;
        position: relative;
        top: -80px;
    }

    .main-bg-colour {
        background-color: white;
        padding: 0 250px 0 250px;
        max-width: 1140px !important;

    }

    .second-bg {
        background-color: #f1e8e2;
        margin-left: 145px;
        /* Space on the left */
        margin-right: 146px;
        margin-bottom: 150px;



    }

    .items {
        display: flex;
        justify-content: space-between;
        margin-top: 120px;

    }

    main>section>h2 {
        text-align: center;
    }

    .section-padding {
        padding: 90px;
    }

    .what-i-do-section {
        margin-top: 15px;
        background-color: #FFF8F3;
    }

    .item-title {
        text-align: center;
    }

    .item-description {
        font-weight: bold;

    }

    .item-part {
        display: flex;
        justify-content: space-between;
    }

    .about-item-second {
        border: 2px solid red;
        background-color: #FFFFFF;
        margin-right: 10px;
        padding: 10px;
        width: 337px;
        height: 267px;
        margin-top: 30px;
    }