

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* developer logo on left side start here START HERE */


.developer-left-logo {
    background-image: url('/images/developer.png');
   background-repeat: no-repeat;
   height: 10px;



/* NAV BAR START HERE */


.text-primary{
    color: #FD6E0A;
}   



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 70px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav > ul > li {
    list-style: none;
    margin-right: 40px;
    
    
}

nav > ul > li > a {
    text-decoration: none;
    font-size: 20px;
    
}
.dark-2{
    color: #474747;
}
nav > ul{
    display: flex;
    align-items: center;

}
.btn-primary {
    background-color: #FD6E0A;
    font-weight: 700;
    color: white;
    padding: 10px 36px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
     margin: 10px 70px;

  }


 /* HERO SECTION START HERE */

 .first-line{
    font-size: 30px;
    font-weight: 600;
    margin: 10px 70px;
 }
.second-line{
    font-weight: bold;
    font-size: 40px;
    margin: 10px 70px;
}
.paragraph-line{
    color: #474747;
    margin-top: 9px;
    margin: 10px 70px;
}
.my-photo{
    width: 300px;
    margin: 10px 70px;
}
.abba-banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px 0 0;
}
.baby-banner-contant{
    max-width: 600px;
}